{% extends 'WebApp/common/base.html' %}

{% block title %} Set your nickname {% endblock %}

{% block content %}

<div class="row justify-content-center mb-5">
    <div class="col-12 text-center my-4">
        <h1 class="w-100">Set your nickname</h1>
    </div>
    <form class="row col-5 flex-column bg-primary-dark align-items-center p-4" action="{% url 'set_nickname' %}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            {{field}}
        {% endfor %}

        {% if messages %}
            <ul class="list-unstyled">
                {% for msg in messages %}
                    <li class="text-danger" >{{msg}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <button class="col-5 fs-5 p-2 bg-primary-light my-3" type="submit">Set nickname</button>
    </form>
</div>

{% endblock %}