<div class="row flex-column align-items-center p-2" id="comments_section">

</div>

<script>

    String.prototype.format = function () {
        // store arguments in an array
        var args = arguments;
        // use replace to iterate over the string
        // select the match and check if the related argument is present
        // if yes, replace the match with the argument
        return this.replace(/{([0-9]+)}/g, function (match, index) {
        // check if the argument is present
        return typeof args[index] == 'undefined' ? match : args[index];
        });
    };


    let id_written = [];
    function CheckComments(){
        console.log("checking comments...");
        var xhReq = new XMLHttpRequest();
        xhReq.open("GET", window.location.origin + api_path, false);
        xhReq.send(null);
        var comments = JSON.parse(xhReq.responseText).comments;

        
        if (comments){
            var template = 
                '<section class="row col-12 p-3 justify-content-center">'+
                    '<div class="row bg-primary-dark p-3 flex-column border border-primary-light">' +
                        '<div class="col-12 d-flex justify-content-between align-items-center mb-3">' +
                            '<h4 class="m-0">{0}</h4>' +
                            '<span class="mx-2 fw-lighter">{1}</span>' +
                        '</div>' +
                        ' <p class="col-9 ms-5">{2}</p>' +
                    '</div>' +
                '</section>'
            
            var comments_section = document.getElementById("comments_section");
            
            comments.forEach(comment => {
                if(!id_written.includes(comment.id)){
                    comments_section.innerHTML += template.format(comment.author, comment.date, comment.content);
                    id_written.push(comment.id);
                }
            });
        }
    
    }

    CheckComments();
    
    setInterval(function(){
        CheckComments();
    }
    ,10000);

</script>

