<footer class="w-100 bg-primary-dark p-4 py-2 mt-0 shadowed" style="box-shadow:inset 0px 10px 20px -5px rgb(0 0 0); z-index:7;">
    {% load static %}
    <div class="container-fluid">
      <div class="row flex-column flex-lg-row align-items-center justify-content-between">

        <div class="col-12 col-lg-2 text-center mb-4 mb-lg-0">
          <img class="" src="{% static 'WebApp/icons/wikiwikimedium.png' %}" alt="logo" width="150px">
        </div>

        

        <!--
        <div class="col-12 col-md-6 col-lg-3 ps-0 my-5 my-md-0 p-0  text-center text-secondary">
          <h4 class="h4 m-0 p-0">Contacto</h4>
          <ul class="list-unstyled row w-100 p-0 m-0 my-2">
            <li class="col px-1 w-100">
              <a class="w-100" target="_blank" href="https://www.youtube.com/user/atlantox">
                <img class="w-50" src="{% static 'WebApp/icons/youtube.svg' %}" alt="youtube">
              </a>
            </li>
            <li class="col px-1 w-100">
              <a class="w-100" target="_blank" href="https://twitter.com/atlantox7">
                <img class="w-50" src="{% static 'WebApp/icons/twitter.svg' %}" alt="twitter">
              </a>
            </li>
            <li class="col px-1 w-100">
              <a class="w-100" target="_blank" href="https://github.com/Atlantox">
                <img class="w-50" src="{% static 'WebApp/icons/github.svg' %}" alt="twitter">
              </a>
            </li>
            <li class="col px-1 w-100">
              <a class="w-100" target="_blank" href="https://www.pinterest.es/Atlantox7/">
                <img class="w-50" src="{% static 'WebApp/icons/pinterest.svg' %}" alt="pinterest">
              </a>
            </li>
          </ul>
        </div>
      -->

        <div class="col-12 col-lg-2 d-lg-flex text-end">
          <ul class="list-unstyled h6 w-100 footer-nav">
            
            <li>
              <a class="text-decoration-none text-black fw-semibold" href="{% url 'Home' %}">
                <span class="underline-hover text-white">Home</span>
              </a>
            </li>
            <li>
              <a class="text-decoration-none text-black fw-semibold" href="{% url 'categories' %}">
                <span class="underline-hover text-white">Categories</span>
              </a>
            </li>
            <li>
              <a class="text-decoration-none text-black fw-semibold" href="{% url 'random_article' %}">
                <span class="underline-hover text-white">Gallery</span>
              </a>
            </li>
            <li>
              <a class="text-decoration-none text-black fw-semibold" href="{% url 'about' %}">
                <span class="underline-hover text-white">About</span>
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>

  </footer>