<nav class="navbar navbar-expand-lg bg-light p-0">
    {% load static %}
    <div class="container-fluid bg-primary-dark shadowed">
      <a class="navbar-brand" href="{% url 'Home' %}">
        <img src="{% static 'WebApp/icons/wikiwikimedium.png' %}" alt="logo" width="125px">
      </a>
      <button class="navbar-toggler animated" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="CloseCollapse()" id="navbar-button">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 h5 pe-3 fw-semibold fs-3 text-center text-lg-end my-1 my-lg-0 w-100">

          
          <li class="nav-item mx-2">
            <a class="underline-hover nav-link text-white fw-bold" href="{% url 'categories' %}">
              Categories
            </a>
          </li>

          <li class="nav-item mx-2">
            <a class="underline-hover nav-link text-white fw-bold" href="{% url 'random_article' %}">
              Random article
            </a>
          </li>

          <li class="nav-item mx-2">
            <a class="underline-hover nav-link text-white fw-bold" href="{% url 'gallery' %}">
              Gallery
            </a>
          </li>


          <li class="nav-item mx-2">
            <a class="underline-hover nav-link text-white fw-bold" href="{% url 'about' %}">
              About
            </a>
          </li>

          <li class="nav-item mx-2">
            <button type="button" class="w-100 h-auto border-0 bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#searchModal">
                <img class="w-50" src="{% static 'WebApp/icons/search.png' %}" alt="search icon">
            </button>
          </li>

          {% if request.user.is_authenticated %}

            <li class="nav-item dropdown mx-2 ms-auto">
              <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{nickname}}
              </a>
              <ul class="dropdown-menu bg-primary-dark">
                <li><a class="dropdown-item strong-hover text-white" href="{% url 'favouriteArticles' %}">Favourites</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item strong-hover text-white" href="{% url 'log_out' %}">Log out</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item mx-2 ms-auto">
              <a class="underline-hover nav-link text-white fw-bold" href="{% url 'log_in' %}">
                Log In
              </a>
            </li>
          {% endif %}
          
        </ul>
      </div>
    </div>
  </nav>

    <!-- Modal -->
    <div class="modal fade" id="searchModal" tabindex="-2" aria-labelledby="searchModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content bg-primary-dark">
              <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body bg-transparent">
                <form class="row flex-column justify-content-center align-items-center" action="{% url 'search' %}" method="POST">
                    <h4 class="col-2 m-0 text-center">Search</h4>
                    {% csrf_token %}
                    <input class="col-5 bg-secondary-dark my-3" type="text" name="search" maxlength="40">
                    <button class="col-2 bg-secondary-light" type="submit">Search</button>
                  </form>
                  
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

  <script>
    function hasClass(element, clsName) {
        return (' ' + element.className + ' ').indexOf(' ' + clsName + ' ') > -1;
    }
    
    function CloseCollapse(){
      btn = document.getElementById('navbar-button');
      menu = document.getElementById('navbarSupportedContent');
      if((hasClass(btn, 'opened'))){
        menu.style = 'display:none';
        btn.classList.remove('opened');
        btn.classList.remove('arrow-up');
      }
      else{
        menu.style = 'display:initial';
        btn.classList.add('opened');
        btn.classList.add('arrow-up');
      }
    }
  </script>