<nav class="navbar navbar-expand-lg bg-light p-0">
    {% load static %}
    <div class="container-fluid bg-primary-dark shadowed">
      <a class="navbar-brand" href="{% url 'Home' %}">
        <img src="{% static 'WebApp/icons/wikiwikimedium.png' %}" alt="logo" width="125px">
      </a>
      <button class="navbar-toggler animated" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="CloseCollapse()" id="navbar-button">
        <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 h5 pe-3 fw-semibold fs-3 text-center text-lg-end my-1 my-lg-0 w-100">

          
          <li class="nav-item mx-2">
            <a class="underline-hover nav-link text-white fw-bold" href="{% url 'categories' %}">
              Categories
            </a>
          </li>

          <li class="nav-item mx-2">
            <a class="underline-hover nav-link text-white fw-bold" href="{% url 'random_article' %}">
              Random article
            </a>
          </li>

          <li class="nav-item mx-2">
            <a class="underline-hover nav-link text-white fw-bold" href="{% url 'gallery' %}">
              Gallery
            </a>
          </li>


          <li class="nav-item mx-2">
            <a class="underline-hover nav-link text-white fw-bold" href="">
              About
            </a>
          </li>

          <li class="nav-item mx-2">
            <a class="underline-hover nav-link text-white fw-bold" href="">
              Contact
            </a>
          </li>

          {% if request.user.is_authenticated %}

            <li class="nav-item dropdown mx-2 ms-auto">
              <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{nickname}}
              </a>
              <ul class="dropdown-menu bg-primary-dark">
                <li><a class="dropdown-item strong-hover text-white" href="{% url 'favouriteArticles' %}">Favourites</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item strong-hover text-white" href="{% url 'log_out' %}">Log out</a></li>
              </ul>
            </li>
          {% else %}
            <li class="nav-item mx-2 ms-auto">
              <a class="underline-hover nav-link text-white fw-bold" href="{% url 'log_in' %}">
                Log In
              </a>
            </li>
          {% endif %}
          
        </ul>
      </div>
    </div>
  </nav>

  <script>
    function hasClass(element, clsName) {
        return (' ' + element.className + ' ').indexOf(' ' + clsName + ' ') > -1;
    }
    
    function CloseCollapse(){
      btn = document.getElementById('navbar-button');
      menu = document.getElementById('navbarSupportedContent');
      if((hasClass(btn, 'opened'))){
        menu.style = 'display:none';
        btn.classList.remove('opened');
        btn.classList.remove('arrow-up');
      }
      else{
        menu.style = 'display:initial';
        btn.classList.add('opened');
        btn.classList.add('arrow-up');
      }
    }
  </script>