{% extends 'WebApp/common/base.html' %}
{% block title %} Home {% endblock %}

{% load static %}
{% block content %}

<div class="col-12">
    <h1 class="text-center h-100 mt-5">{{wiki_name}}</h1>
</div>

<div class="col-12 row justify-content-center">
    <p class="col-8 text-center fs-5">
        Welcome to WikiWiki, a Django template to create wikis easily, you can create wiki articles, summaries, categories, subcategories and much more!
        If that not convince you, just continue reading and test it! The best of all its WikiWiki has Resftul API!
    </p>
</div>

<figure class="col-10 text-center">
    <img class="w-50 m-0 p-0" src="{% static 'WebApp/icons/wikiwikibig.png' %}" alt="big logo">
</figure>

<div class="col-9 justify-content-center align-content-center my-3">
    {% include 'WebApp/common/divisor_sm.html' %}
    <ul class="list-unstyled d-flex justify-content-around align-content-center my-2">
        <li><span class="number_counter">100</span> Articles</li>
        <li><span class="number_counter">100</span> Images</li>
        <li><span class="number_counter">100</span> Members</li>
        <li><span class="number_counter">100</span> Editors</li>
    </ul>
    {% include 'WebApp/common/divisor_sm.html' %}
</div>

{% include 'WebApp/common/divisor_bg.html' %}

<div class="col-12 row justify-content-center my-5">
    <div class="col-12 border-bottom mb-4">
        <h2 class="col-12">Categories</h2>
    </div>

    {% for category in categories %}
        {{category.category.name}}<br>
        {% for article in category.articles %}
            {{article.title}}
        {% endfor %}
    {% endfor %}
    <div class="col-10">
        <table class="border border-black table table-dark text-center align-middle text-nowrap">

            <thead class="fs-5 fw-bold">
                <tr>
                    <th class="border border-black p-3 px-4" colspan="1">Category</th>
                    <th class="border border-black align-middle" colspan="2">Sub-category</th>
                </tr>
            </thead>

            <tbody class="fs-6">
                <tr>
                    <th class="text-center align-middle p-3 fs-5 fw-bold px-4" colspan="1">Characters</th>

                    <th class="border border-black fw-normal" colspan="2">
                        <div class="d-flex justify-content-center align-content-center">
                                <ul class="list-unstyled d-flex flex-wrap justify-content-center align-content-center m-0">
                                <li class="m-3">Liz'Amar</li>
                                <li class="m-3">Stefannie</li>
                                <li class="m-3">Ámber</li>
                                <li class="m-3">Katherine</li>
                                <li class="m-3">Mariángeles</li>
                                <li class="m-3">Liz'Amar</li>
                                <li class="m-3">Stefannie</li>
                                <li class="m-3">Ámber</li>
                                <li class="m-3">Katherine</li>
                                <li class="m-3">Mariángeles</li>
                                <li class="m-3">Liz'Amar</li>
                                <li class="m-3">Stefannie</li>
                                <li class="m-3">Ámber</li>
                                <li class="m-3">Katherine</li>
                                <li class="m-3">Mariángeles</li>
                            </ul>
                        </div>
                    </th>
                </tr>
            </tbody>

        </table>
    </div>
</div>

{% include 'WebApp/common/divisor_bg.html' %}

<div class="col-12 row justify-content-center my-5">
    <div class="col-11 text-center border-bottom border-black mb-4">
        <h2 class="m-0">Most viewed</h2>
    </div>

    <div class="col-10 row justify-content-around flex-wrap">

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

        <article class="col-2 row p-2">
            <figure class="col-12 m-0 p-0 border border-black">
                <img class="w-100 m-0 p-0" src="{% static 'WebApp/icons/wikiwikismall.png' %}" alt="article img">
            </figure>
            <div class="col-12 text-center fs-5 article-title-sm border border-black">
                <span>Article title but larger</span>
            </div>
        </article>

    </div>
</div>

{% include 'WebApp/common/divisor_bg.html' %}

<div class="col-12 row justify-content-center align-content-center mt-5">
    <button class="col-12 row text-center justify-content-center border-0 border-bottom bg-transparent" onclick="ToggleRandomArticle()">
        <h2 class="m-0 p-0 col-11 align-middle">Random Article</h2>

        <div class="col-1 m-0 p-0">
            <img class="m-0 w-50" id="collapse-arrow" src="{% static 'WebApp/icons/arrow_down.png' %}" alt="collapse arrow">
        </div>
    </button>

    <div class="col-12 row justify-content-center">
        <div class="random-article row justify-content-center px-5 mt-3" id="random-article">
            <figure class="col-4">
                <img class="w-100" src="{% static 'WebApp/icons/wikiwikibig.png' %}" alt="random article image">
            </figure>
            <p class ="col-8">
                This is the main content of the random article, be sure of the firsts lines doesn't contain spoilers 
            </p>
        </div>
    </div>
</div>

<script>
    random_article = document.getElementById("random-article");
    arrow = document.getElementById("collapse-arrow");
    
    function ToggleRandomArticle(){
        if(hasClass(arrow, "collapse-arrow-up")){
            arrow.classList.remove("collapse-arrow-up");
            random_article.classList.add("random-article");
            random_article.classList.remove("visible-random-article");
        }
        else{
            arrow.classList.add("collapse-arrow-up");
            random_article.classList.remove("random-article")
            random_article.classList.add("visible-random-article");
            //random_article.scrollIntoView({behavior: "smooth"});
        }

    }

</script>

{% endblock %}