{% extends 'WebApp/common/base.html' %}
{% block title %} Home {% endblock %}

{% load static %}
{% block content %}

<div class="col-12">
    <h1 class="text-center h-100 mt-5">{{wiki_name}}</h1>
</div>

<div class="col-12 row justify-content-center">
    <p class="col-8 text-center fs-5">
        Welcome to WikiWiki, a Django template to create wikis easily, you can create wiki articles, summaries, categories, subcategories and much more!
        If that not convince you, just continue reading and test it! The best of all its WikiWiki has Resftul API!
    </p>
</div>

<figure class="col-10 text-center">
    <img class="w-50 m-0 p-0" src="{% static 'WebApp/icons/wikiwikibig.png' %}" alt="big logo">
</figure>

<div class="col-9 justify-content-center align-content-center my-3">
    {% include 'WebApp/common/divisor_sm.html' %}
    <ul class="list-unstyled d-flex justify-content-around align-content-center my-2">
        <li><span class="number_counter">{{counters.articles}}</span> Articles</li>
        <li><span class="number_counter">{{counters.images}}</span> Images</li>
        <li><span class="number_counter">{{counters.members}}</span> Members</li>
        <li><span class="number_counter">{{counters.editors}}</span> Editors</li>
    </ul>
    {% include 'WebApp/common/divisor_sm.html' %}
</div>

{% include 'WebApp/common/divisor_bg.html' %}

<div class="col-12 row justify-content-center my-5">
    <div class="col-12 border-bottom mb-4">
        <h2 class="col-12">Categories</h2>
    </div>

    <div class="col-10">
        <table class="border border-black table table-dark text-center align-middle text-nowrap">

            <thead class="fs-5 fw-bold">
                <tr>
                    <th class="border border-black p-3 px-4" colspan="1">Category</th>
                    <th class="border border-black align-middle" colspan="2">Article</th>
                </tr>
            </thead>

            <tbody class="fs-6">
                {% for category in categories %}
                    <tr>
                        <th class="text-center align-middle p-3 fs-5 fw-bold px-4" colspan="1">
                            <a class="text-white text-decoration-none" href="{% url 'category' category.category.name %}">
                                {{category.category.name}}
                            </a>  
                        </th>
                        <th class="border border-black fw-normal table-active" colspan="2">
                            <div class="d-flex justify-content-center align-content-center">
                                <ul class="list-unstyled d-flex flex-wrap justify-content-center align-content-center m-0">
                        
                                    {% for article in category.articles %}
                                        <li class="m-3">
                                            <a class="fw-bold text-decoration-none text-white" href="{% url 'article' article.title %}">{{article.title}}</a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% include 'WebApp/common/divisor_bg.html' %}

<div class="col-12 row justify-content-center my-5">
    <div class="col-11 text-center border-bottom border-black mb-4">
        <h2 class="m-0">Most viewed</h2>
    </div>

    <div class="col-10 row justify-content-around flex-wrap">

        {% for article in most_viewed %}
            <article class="col-2 row p-2">
                <figure class="col-12 m-0 p-0 border border-black">
                    <a href="{% url 'article' article.title %}">
                        <img class="w-100 m-0 p-0" src="{{article.images.all.0.img.url}}" alt="{{article.title}} img">
                    </a>
                </figure>
                <div class="col-12 text-center fs-5 article-title-sm border border-black">
                    <span>{{article.title}}</span>
                </div>
            </article>
        {% endfor %}

    </div>
</div>

{% include 'WebApp/common/divisor_bg.html' %}

<div class="col-12 row justify-content-center align-content-center my-5">
    <button class="col-12 row text-center justify-content-center border-0 border-bottom bg-transparent" onclick="ToggleCollapse('random_article')">
        <h2 class="m-0 p-0 col-11 align-middle">Random article</h2>

        <div class="col-1 m-0 p-0">
            <img class="m-0 w-50 animated-f" id="collapse-arrow-random_article" src="{% static 'WebApp/icons/arrow_down.png' %}" alt="collapse arrow">
        </div>
    </button>

    <div class="col-12 row justify-content-center">
        <div class="row justify-content-center px-5 mt-3 d-none" id="collapse-section-random_article">
            <span>{{random_article.title}}</span>
            <figure class="col-4">
                <img class="w-100" src="{{random_article.images.all.0.img.url}}" alt="{{random_article.title}} image">
            </figure>
            <p class ="col-8">
                {{random_article.main}}
            </p>
            <a class="text-decoration-none text-white" href="{% url 'article' random_article.title %}">Read more</a>
        </div>
    </div>
</div>

<script>
    /*
    random_article = document.getElementById("collapse-section");
    arrow = document.getElementById("collapse-arrow");
    
    function ToggleRandomArticle(){
        if(hasClass(arrow, "collapse-arrow-up")){
            arrow.classList.remove("collapse-arrow-up");
            random_article.classList.add("collapse-section");
            random_article.classList.remove("visible-collapse-section");
        }
        else{
            arrow.classList.add("collapse-arrow-up");
            random_article.classList.remove("collapse-section")
            random_article.classList.add("visible-collapse-section");
            //random_article.scrollIntoView({behavior: "smooth"});
        }

    }*/

</script>

{% endblock %}