{% extends 'WebApp/common/base.html' %}

{% block title %} {{article.title}} {% endblock %}

{% load static %}

{% block content %}

    <script>
        // Initializing important variables
        var currentImg = 1;
        var images = {};
        var api_path = "/api/comments/{{article.id}}"
    </script>
    {% if not found %}
        <h1>Article not found</h1>
    {% else %}

        <div class="row m-2 p-2 mt-5 px-4">
            <div class="col-9 mt-5 px-4">
                <div class="row flex-column">
                    <div class="row col-12 justify-content-between border-bottom">
                        {% if disambiguation is not None %}
                            <span class="mb-2">
                                View too 
                                <a class="text-white" href="{% url 'article' disambiguation %}">
                                    {{disambiguation}} (disambiguation)
                                </a>
                            </span>
                        {% endif %}
                        <h1 class="col-6">
                            {{article.title}}
                        </h1>
                        {% if user.is_authenticated %}
                            {% if is_favourite %}
                                <form class="col-1" id="delete_favourite" novalidate>
                                    <input type="text" hidden value="{{article.id}}">
                                    <button type="submit">
                                        <img class="w-100" id="favourite_icon" src="{% static 'WebApp/icons/filled_heart.png' %}" alt="filled heart">
                                    </button>
                                </form>
                            {% else %}
                                <form class="col-1" id="add_favourite" novalidate>
                                    <input type="text" hidden value="{{article.id}}">
                                    <button type="submit">
                                        <img class="w-100" id="favourite_icon" src="{% static 'WebApp/icons/empty_heart.png' %}" alt="empty heart">
                                    </button>
                                </form>
                            {% endif %}
                        {% else %}
                            <div class="col-3 align-middle h-100">
                                Login for mark as favourite
                            </div>
                        {% endif %}
                    </div>
                    <p class="px-2 my-4">
                        {{article.main | safe | linebreaks }}
                    </p>
                </div>
            </div>

            <div class="col-3 p-5 rounded shadowed">

                {% if article_images|length > 1 %}
                    <!-- Showing the buttons to toggle between images -->
                    <div class="row justify-content-around my-2">
                        <button class="col-1 border-0 bg-secondary shadowed p-1" onclick="ChangeImg(-1)"> < </button>
                        <button class="col-1 border-0 bg-secondary shadowed p-1" onclick="ChangeImg(1)"> > </button>
                    </div>
                {% endif %}

                <div class="row p-2">
                    {% for img in article_images %}
                        <button type="button" class="w-100 h-auto border-0 bg-transparent p-0" data-bs-toggle="modal" data-bs-target="#fullImgModal" id="{{img.id}}" onclick="OpenModal({{img.id}})">
                            {% if article_images|length > 1 %}
                                {% if img.order == 1 %}
                                    <img id="img-{{img.order}}" class="w-100 article-img" src="{{img.url}}" alt="{{article.title}}">
                                {% else %}
                                    <img id="img-{{img.order}}" class="w-100 d-none article-img" src="{{img.url}}" alt="{{article.title}}">
                                {% endif %}
                            {% else %}
                                <img class="w-100 article-img" src="{{img.url}}" alt="{{article.title}}">
                                {% endif %}
                        </button>
                        {% include 'articles/imgModalLoader.html' %}

                    {% endfor %}
                </div>

                {% if summary is not None %}
                    <div class="row mt-3 justify-content-center">
                        {% for field in summary %}
                            <div class=" p-1 col-6 fw-bold text-center border text-capitalize d-flex justify-content-center align-items-center">
                                {{field.field}}
                            </div>
                            {% if field.censored %}
                            <div class="p-1 col-6 text-center border text-capitalize d-flex justify-content-center align-items-center censored">
                            {% else %}
                            <div class="p-1 col-6 text-center border text-capitalize d-flex justify-content-center align-items-center">
                            {% endif %}
                                {{field.value | safe}}
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        {% for section in sections %}
            {% include 'articles/SectionLoader.html' %}
        {% endfor %}


        <div class="row my-3 mt-5 pt-5">
            <div class="d-flex justify-content-start align-items-center">
                <span class="fs-5 align-middle">Categories: &nbsp;</span>
                {% for category in article.category.all %}
                    <a class="fs-5 align-middle text-white" href="{% url 'category' category.name %}">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>

        {% if relatedArtices %}
            <div class="row my-3">
                <div class="d-flex justify-content-start align-items-center">
                    <span class="fs-5 align-middle">Related articles: &nbsp;</span>
                    {% for related in relatedArtices %}
                        <a class="fs-5 align-middle text-white mx-2" href="{% url 'article' related.title %}">{{related.title}}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}


        <div class="row justify-content-center p-5">
            <h3 class="col-12">Comments (becareful with spoilers)</h3>
            {% include 'WebApp/common/divisor_bg.html' %}
            <div class="row col-11 border border-1 border-primary-light justify-content-center align-items-center flex-column my-3">
                {% include 'comments/comment_list.html' %}

                {% if user.is_authenticated %}
                    
                    <form class="row justify-content-center align-middle" id="comment_form" novalidate> {% csrf_token %}
                        <div class="row p-2 align-items-center justify-content-center">
                            {% for field in comment_form %}
                                <label class="fs-5 col-2 align-middle text-end align-self-start" for="{{ field.auto_id }}">Write your comment:</label>
                                {{field}}
                            {% endfor %}
                            <button class="col-3 fs-5 p-2 bg-primary-light my-3" type="submit">Comment</button>
                        </div>
                    </form>

                    <script>
                        /*
                            This script do certain API request to the server when a form is submitted
                        */
                        
                        const apis = {
                            "comment_form" : {
                                path : "{% url 'add_comment' article.id %}",
                                method : "POST"
                            },
                            "add_favourite" : {
                                path : "{% url 'add_favourite' article.id %}",
                                method : "POST"
                            },
                            "delete_favourite" : {
                                path : "{% url 'delete_favourite' article.id %}",
                                method : "DELETE"
                            }
                        }

                        function ToggleFavouriteIcon(){
                            var img = document.getElementById('favourite_icon');
                            if (img.alt == 'filled heart')
                                img.src = "{% static 'WebApp/icons/empty_heart.png' %}"
                            else
                                img.src = "{% static 'WebApp/icons/filled_heart.png' %}"
                        }

                        // Thanks to: https://programadorwebvalencia.com/django-crear-formulario-de-contacto/
                        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        const form = document.querySelector('#comment_form');
                
                        //// Functions
                
                        function sendForm(event) {
                            event.preventDefault();
                            

                            var element = apis[event.srcElement.id];
                            console.log(element);

                            const request = new Request(
                                element.path,
                                {
                                    method: element.method,
                                    headers: {'X-CSRFToken': csrfToken},
                                    mode: 'same-origin',
                                    body: new FormData(form)
                                }
                            );
                            fetch(request)
                                .then((response) => {
                                    if (response.ok) {
                                        return response.json();
                                    }
                                    throw new Error('Something is wrong with the server.');
                                })
                                .then(function(data) {
                                    console.log(data)
                                    if (data.status === 'ok') {
                                        form.reset();
                                        CheckComments();
                                        if (event.srcElement.id == "add_favourite" || event.srcElement.id == "delete_favourite")
                                            ToggleFavouriteIcon();
                                    } else {
                                        alert("The comment's content is invalid.");
                                    }
                                });
                        }
                
                        //// Events
                        form.addEventListener('submit', sendForm);
                        try {
                            document.getElementById("add_favourite").addEventListener('submit', sendForm);
                        } catch (error) {
                            document.getElementById("delete_favourite").addEventListener('submit', sendForm);
                        }
                    </script>

                {% endif %}
                
            </div>
        </div>

    {% endif %}

    <style>
        .subtitle{ display:none; }
    </style>
    
    {% include 'articles/imageModal.html' %}

    <script>
        var imgCount = document.querySelectorAll(".article-img").length;

        function ChangeImg(operation){
            var to_hide = document.getElementById("img-" + currentImg);
            NextId(imgCount, operation);
            var to_show = document.getElementById("img-" + currentImg);
            ToggleImages(to_show, to_hide);        
        }

        function ToggleImages(to_show, to_hide){
            to_hide.classList.add("d-none");
            to_show.classList.remove("d-none");
        }

        function NextId(max, to_add){
            currentImg += to_add;
            if (currentImg > max)
                currentImg = 1;
            else if(currentImg <= 0)
                currentImg = max;
                
        }
    </script>

{% endblock %}