{% extends 'WebApp/common/base.html' %}

{% block title %} {{article.title}} {% endblock %}

{% block content %}

    {% if not found %}
        <h1>Article not found</h1>
    {% else %}

        <div class="row m-2 p-2 mt-5 px-4">
            <div class="col-9 mt-5 px-4">
                <h1 class="border-bottom">
                    {{article.title}}
                </h1>
                <p class="px-2 my-4">
                    {{article.main}}
                </p>
            </div>

            <div class="col-3 p-5 rounded shadowed">
                {% for img in article.images.all %}
                    <img class="w-100" src="{{img.img.url}}" alt="{{article.title}}">
                {% endfor %}
                <ul class="list-unstyled text-center">
                    {% for field in summary %}
                    {% if field.0 == 'Status' or field.0 == 'status' %}
                        <li>{{field.0}}:<span class="censored">{{field.1}}</span></li>
                    {% else %}
                        <li >{{field.0}}:{{field.1}}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% for section in sections %}
            {% include 'articles/SectionLoader.html' %}
        {% endfor %}


        <div class="row">
            <div class="d-flex justify-content-start align-items-center">
                <span class="fs-5 align-middle">Categories: &nbsp;</span>
                {% for category in article.category.all %}
                    <a class="fs-5 align-middle text-white" href="">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-start align-items-center">
                <span class="fs-5 align-middle">Related articles: &nbsp;</span>
                {% for related in relatedArtices %}
                    <a class="fs-5 align-middle text-white" href="{% url 'article' related.id %}">{{related.title}}</a>
                {% endfor %}
            </div>
        </div>

        <style>
            .subtitle{ display:none; }
        </style>
    {% endif %}

{% endblock %}