  <!-- Modal of the image to show when user clicks an image -->
  <div class="modal fade" id="fullImgModal" tabindex="-1" aria-labelledby="fullImgModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-primary-dark">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-transparent">
                <h1 class="m-2 text-center w-100" id="modal-title">Title</h1>
                <figure class="w-100 text-center p-1">
                    <img class="w-75" src="" alt="modal img" id="modal-img">
                </figure>
                <p id="modal-content">Content</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>