{% extends 'WebApp/common/base.html' %}
{% block title %} 
{{title}}
{% if not found %} Not found {% endif %}
{% endblock %}

{% load static %}
{% block content %}
    {% if found %}
        <div class="row mt-5 px-5">
            <h1 class="border-bottom px-5">{{title}}</h1>

            {% if articles|length > 0 %}
            <ul class="col-12 fs-4 p-4">
                {% for article in articles %}
                    <li class="my-1">
                        <a class="text-white" href="{% url 'article' article.title %}">
                            {{article.title}}
                        </a>
                    </li>
                {% endfor %}
            </ul>   
            {% else %}
                <h2 class="col-12 text-center my-4">Looks like it's not {{title}} yet</h2>
            {% endif %}
        </div>
    {% else %}
    <div class="row mt-5 px-5">
        <h1 class="border-bottom px-5">{{title}} not found</h1>
    </div>
    {% endif %}

    <style>
        .subtitle{
            display: none;
        }
    </style>
{% endblock %}