<!--
    This search in articles/templates/sections and display the section of the article searching the view with name "section.sectionType.html"
-->

<div class="row my-2 justify-content-center px-4 h-auto">
    {% if section.collapse %}
        {% load static %}
        <button class="col-12 px-2 row text-center border-0 border-bottom bg-transparent align-items-center h-auto" onclick="ToggleCollapse('{{section.id}}')">
            <h2 class="m-0 p-0 col-11 align-middle">Spoiler</h2>
                
            <div class="col-1 m-0 p-0">
                <img class="m-0 w-50 animated-f" id="collapse-arrow-{{section.id}}" src="{% static 'WebApp/icons/arrow_down.png' %}" alt="collapse arrow">
            </div>
        </button>

        <div class=" row justify-content-center animated-n d-none" id="collapse-section-{{section.id}}">
            {% with "articles/sections/"|add:section.sectionType.name|add:".html" as template %}
            {% include template %}
            {% endwith %} 
        </div>
    {% else %}
        {% with "articles/sections/"|add:section.sectionType.name|add:".html" as template %}
        {% include template %}
        {% endwith %}   
    {% endif %}
</div>